
@{
    Layout = "_Layout";
}

@model deliver_me_deliveries.Models.Restaurant;


@* 

 @using (Html.BeginForm("GetAll", "RestaurantController"))
{ *@
  @* @Html.Label("Street")
  @Html.TextBoxFor(model => model.StreetAddress)

  @Html.Label("Food")
  @Html.TextBoxFor(model => model.FoodTypes) *@
  

   @* <input type="submit" value="Search"/> *@
} 
<p>@Html.ActionLink("See all restaurants", "Index", "Restaurants")</p>


@* 
    public string City { get; }
    public string State { get; }
    public string Zip { get; }
    public List<string> FoodTypes { get; }  *@
    
@* @using (Html.BeginForm())
{    
    <h2>Title: @Html.TextBoxFor(model => model.StreetAddress)</h2>   
    <input id="search" type="submit" value="Search" /> 
}

<h2>Title</h2>
<h3>@Html.DisplayNameFor(model => model.StreetAddress): @Html.DisplayFor(model => model.StreetAddress)</h3>

<h2>Description</h2>
<h3>@Html.DisplayNameFor(model => model.FoodTypes): @Html.DisplayFor(model => model.FoodTypes)</h3>   *@